{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Document
        {% endblock %}
    </title>
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
        <!-- component -->
    <div class="w-full shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px]">
      <div class="ml-4 h-14 max-w-6xl">
        <ul class="relative mx-12 flex h-full flex-row items-center justify-between text-[16px] font-medium sm:text-[18px]">
          <li class="hover:cursor-pointer"><a href="/">Home</a></li>
          <li class="hover:cursor-pointer"><a href="/about">About</a></li>
          <li class="hover:cursor-pointer"><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
      
    {% block content %}
    
    {% endblock %}
</body>
</html>